<p>Dear user,</p>

<p>The following is a summary of the status changes of the sources in your project yesterday.<br></p>

<p>&nbsp; &nbsp;&nbsp; Allocated: {{ dict_info.allocate }} group(s)</p>
<p>&nbsp; &nbsp;&nbsp; Observation completed(both successful and failed included): {{ dict_info.observed }} group(s)</p>
<p>&nbsp; &nbsp;&nbsp; Rejected: {{ dict_info.reject }} group(s)</p>

<p>To check allocation detail(s), logon to your project page, then click "Observation Plan"; to check observation log(s), logon to your personal page, then click "Search Observation Log"; to check de-allocated group(s), logon to your project page, then click "Waiting List"; to check rejected group(s), logon to your project page, then click "Draft".</p>

<p>If you have any question, please contact ep@bao.ac.cn</p>

<small>(Please do not reply to this notification, this inbox is not monitored.)</small>