<p>Hello {{ user.name }},</p>

<p>Welcome to EP TDIC!</p>

<p>Thanks for your attention. You just completed the registration process!</p>

<p>Please visit the link below to verify your email address:<br>
    <a href="{{ url_for('user.confirm', token=token, _external=True) }}">{{ url_for('user.confirm', token=token, _external=True) }}</a>
</p>

<p>System administrators will check you profile later. When you passed the review, you will be able to use the system normally.</p>

<p>You can visit your home page from this link:{{ url_for('user.index', _external=True) }}</p>

<p>(Please do not reply to this notification, this inbox is not monitored.)</p>