{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block head %}
    <title>Einstein Probe Time Domain Astronomical Information Center</title>
    {% endblock head %}
    {% block styles %}

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aladin.min.css', v='2') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ep.css', v='17') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/all.css', v='12') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addons/datatables.min.css', v='11') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker-standalone.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabulator5.3.4.min.css') }}">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <!-- <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet"> -->
    <!--select2-->
    <link rel="stylesheet" href="{{ url_for('static',filename="select2/4.0.13/css/select2.min.css")}}" >

    <!-- nouislider-->
    <link rel="stylesheet" href="{{ url_for('static',filename="noUiSlider/15.7.1/nouislider.min.css")}}" >
    <script src="{{ url_for('static',filename="noUiSlider/15.7.1/nouislider.min.js")}}" ></script>

    <!-- react -->
    <script src="{{ url_for('static',filename="react/16.4.0/umd/react.development.js")}}" ></script>
    <script src="{{ url_for('static',filename="react-dom/16.4.0/umd/react-dom.development.js")}}"></script>
    <script src="{{ url_for('static',filename="babel-standalone/6.26.0/babel.min.js")}}" ></script>
    


    {% endblock styles %}

    {% block scripts %} {% if current_app.config['FORCE_NADC_LOGIN'] %}
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script type="text/javascript" src="https://oauth.china-vo.org/cvo-passport.js"></script>
    <script>
      let opt = {umtUrl: 'https://oauth.china-vo.org', appId: '{{current_app.config["NADC_OAUTH_CLIENT_ID"]}}'};
      let passport = new CVOPassport(opt);
      passport.checkAndLogin(
          function(){//has loginned
              {% if current_user.is_anonymous %}
              {% endif %}
          },
          function(){//not loginned
              {% if not current_user.is_anonymous %}
              {% endif %}
          }
      );
    </script>
    {% endif %}
   
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏7器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    
    <script src="{{ url_for('static', filename='js/jquery-1.12.1.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js', v='2') }}"></script>
     <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-treeview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aladinv3/aladin.js', v='8') }}"></script>  
   
    <script src="{{ url_for('static', filename='js/ep.js', v='4') }}"></script> 
    <script src="{{ url_for('static', filename='js/addons/datatables.min.js', v='2') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales-2.9.0.min.js', v='2') }}"></script>

     <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script> 
    
    <!--luxon-->
    <script src="{{ url_for('static',filename="luxon/3.1.1/luxon.min.js")}}"></script>
    <!-- tabulator 5.3 -->
    <script src="{{ url_for('static', filename='js/tabulator.5.4.3.min.js', v='2') }}"></script>

    <!-- csv-->
    <script src="{{ url_for('static', filename='js/d3js.min.js', v='2') }}"></script>

    <!--vue-->
    <script src="{{ url_for('static',filename="vue/3.2.44/vue.global.js")}}"></script>

    <!--datatables button-->
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>

    <!-- echarts -->
    <script src="{{ url_for('static',filename="echarts/5.4.1/echarts.js")}}" ></script>
    
    <!--select2-->
    <script src="{{ url_for('static',filename="select2/4.0.13/js/select2.min.js")}}" ></script>
    
    <!--Leia Platform-->
    <script src="{{ url_for('static', filename='js/leiaPlatform.js') }}"></script>
    

    
  {# #}

    <!-- <script src="https://cdn.jsdelivr.net/npm/d3@7"></script> -->

    <!-- <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script> -->
    <script type="text/javascript">
        var prx = '{{get_subsite()}}';
        var csrf_token = "{{ csrf_token() }}";
        {% if current_user.is_authenticated %}
        var is_authenticated = true;
        {% else %}
        var is_authenticated = false;
        {% endif %}
        $(function () {
            if ($(".index-SecNav").css("width").replace(/[^-\d\.]/g, '') > 768) {
                $(".dropdown").mouseover(function () {
                    $(".dropdown").removeClass("show");
                    $(this).addClass("show");
                    $(".dropdown-toggle").attr("aria-expanded", "false");
                    $(this).children(".dropdown-toggle").attr("aria-expanded", "true");
                    $(".dropdown-menu").removeClass("show");
                    $(this).children(".dropdown-menu").addClass("show");
                });
                $(".dropdown").not($(this).children(".dropdown-menu").mouseenter()).mouseleave(function () {
                    $(".dropdown").removeClass("show");
                    $(".dropdown-toggle").attr("aria-expanded", "false");
                    $(".dropdown-menu").removeClass("show");
                });
            }
        });
        var browserRule = /^.*((iPhone)|(iPad)|(Safari))+.*$/;
    if (browserRule.test(navigator.userAgent)) {
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
    }

      //选择文件后更新Button内容
      $(document).ready(function(){
            $("input[type='file']").change(function (event) {
                let filename = event.currentTarget.files[0].name;
                $(this)
                .siblings("label")
                .text(() => {
                    return filename;
                });
            });
    })
        
    </script>
        
        
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="index-SecNav navbar navbar-expand-md mmdcsNav"
        style="width: 100%; background-color: #ffff; margin: 0px; height: 95px;">
        <div class="container mmdcs-navbar-container">

            <a class="navbar-brand" href="{{url_for('.lc')}}">
                <img src="{{url_for('static',filename='/images/index-logos/eplogo3.png')}}" style="height: 87px; vertical-align:middle;"
                    alt="logo">
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse1 data-target="#mmdcs-navbar"
                aria-controls="mmdcs-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mmdcs-navbar">
                <ul class="navbar-nav ml-auto mmdcsNavbar-ul">
                   
                    {% if current_user.is_authenticated %}
                    
                    {% else %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <nav class="index-SecNav navbar navbar-expand-md navbar-dark bg-dark nav-fill ep-menu-nav">
        <div class="container mmdcs-navbar-container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ep-nav nav justify-content-center" style="width: 100%;">
                    
                    {% with menu_l0 = get_system_menu(0) %}
                    {% for m0 in menu_l0 %}
                        {% with menu_l1 = get_system_menu(m0.id) %}
                        {% if menu_l1 | count>0 %}
                        <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{m0.title_en}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown0">
                            {% for m1 in menu_l1 %}
                            <a class="dropdown-item" href="{{m1.url}}">{{m1.title_en }}</a>
                            {% endfor %}
                        </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{m0.url}}">{{m0.title_en }}</a>
                        </li>
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endwith %}
                </ul>
            </div>
        </div>

    </nav>

    {% endblock %}
    <div class="container main-mmdcs-container" style="background:white; padding-top:10px;" >
        {% if current_user.is_active %} {% if not current_user.email_confirmed %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} {% if current_app.config['CHECK_USER_VERIFIED'] and not current_user.checked %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} 
        {#{% if not current_user.accepted_policy %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} #}
        {% endif %} {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message[1] | safe}}
        </div>
        {% endfor %} 
        <script>
            // Content 中需要用到的公共变量

            //TA证认填写的类型
            var type_values = {
                "":"All",
                known_source:"Known Source",
                transient: "Transient",
                burst: "Burst",
                cosmic_ray: "Cosmic Ray",
                "arm":"Arm",
                "others":"Others",
                
            }

            var trasient_type_values = {
                "":"All",
                // known_source:"Known Source",
                transient: "Transient",
                burst: "Burst",
                cosmic_ray: "Cosmic Ray",
                "arm":"Arm",
                "others":"Others",
                
            }

            var downloadIcon = function (cell, formatterParams, onRendered) {
                return '<i class="fas fa-download"></i>';
            };

            var detailIcon = function (cell, formatterParams, onRendered) {
            return '<i class="fas fa-info-circle"></i>';
            };
        </script>
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
 

    <footer class="bg-dark footer_ep">
        <div class="container ">
            <div class="row">
                <div class="col-sm-2 footer_img"><img src="{{ url_for('static', filename='images/index-logos/logo_bottom_3.png') }}" height="130px;"></div>

                <div class="col-sm-7 footer_cont">
                    <p>Copyright 2018-2022 © National Astronomical Observatories, Chinese Academy of Sciences </p>
                    <p> Address:No. 20, Datun Road, Chaoyang District, Beijing, China E-mail:ep@nao.cas.cn
                    </p>
                </div>

                <div class="col-sm-3" style="float:right; text-align: right; line-height: 130px;">
                  <a href="https://nadc.china-vo.org/"><img src="{{ url_for('static', filename='images/index-logos/logo_nsti_and_nadc.png') }}" style="width:230px; "></a>
                </div>
                <div class="col-sm-12 text-center">
                    <a href="http://www.china-vo.org/"><img style="height:30px; margin-top: 10px;" src="{{ url_for('static', filename='images/index-logos/power_logo_white.png') }}"></a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    {% block tail %}{% endblock %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.escience.org.cn/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '23']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Piwik Code -->

</body>

</html>
