{% extends 'app/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}{{ _('Einstein Probe Time Domain Astronomical Information Center') }}{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb" style="margin-bottom: 10px;">
      <ol class="breadcrumb">
        {% block bread %}
        {{ render_breadcrumb_item('main.index', _('Home')) }}
        {{ render_breadcrumb_item('data_center.source_candidate_list', _('Source Candidate List')) }}
        {% endblock %}
      </ol>
    </nav>
    <div class="card w-100">
      <div class="card-header bg-light ep-cardheader">
        <div class="card-header-title">{{_('Candidate Search (WXT)')}}</div>
      </div>
      {% include "app/data_center/components/src_obs_search_form.html"  %}
        {% if sources is defined %}
        <div class="alert alert-success ep-datasearch-alert" role="alert">
          {{hint}}
        </div>
        {% endif %}
        <nav class="nav nav-tabs ep-sourcelist-nav" style="margin-top:20px;">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active show" id="nav-source-list-tab" data-toggle="tab"
              href="#nav-source-list-tabpanel" role="tab" aria-controls="nav-source-list-tabpanel">
              <div class="ep-tabButton" aria-pressed="true">Candidate List
                <span class="badge">{{sources|length}}</span></div>
            </a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="background-color: #ddd; margin: 0px 25px 20px 25px; padding-top: 10px;">
          <div class="tab-pane fade show active" id="nav-source-list-tabpanel" role="tabpanel"
            aria-labelledby="nav-source-list-tab">
            <div class="table-responsive" >
              {% block sources_table %}
              {% endblock %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}