{% extends 'app/base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}{{ _('Einstein Probe Time Domain Astronomical Information Center') }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" style="margin-bottom: 10px;">
    <ol class="breadcrumb">
    {% block bread %}
    {{ render_breadcrumb_item('main.index', _('Home')) }}
    {{ render_breadcrumb_item('data_center.vhf_source_candidate_list', _('VHF Alert Quick Tool')) }}
    {% endblock %}
    </ol>
</nav>
<div id="spinner-div">
    Loading...
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<div class="card w-100">
    <div class="card-header bg-light ep-cardheader">
        <div class="card-header-title">{{_('VHF Alert List')}}</div>
    </div>
    {% include "app/data_center/components/src_obs_search_form.html"  %}
    
    <div id="ta_table" style="z-index: 50; width: 100%"></div>

   
</div>

<div class="card w-100" style="margin-top: 20px">
  
    <div class="card-header bg-light ep-cardheader">
      <div class="card-header-title">VHF Alert List <span id="items"></span>
        <div style="float:right">

   
          <button class="btn ep_openBtn btn-sm" id="download_list"  >Export CSV</button>
        </div>
      </div>
    </div>
    <div class="card-body">
    
    <div id="vhf_table" style="z-index: 50; width: 100%"></div>
    <div id="ta_table" style="z-index: 50; width: 100%"></div>

    <p>Identification Records</p>
    {% include 'app/data_center/components/ta_record.html' %}
    <div class="row">
        <div class="col-12">
    <div class="tab-content" id="nav-tabContent" style="background-color: #ddd; margin: 0px 25px 20px 25px; padding-top: 10px;">
        <div class="tab-pane fade show active" id="nav-source-list-tabpanel" role="tabpanel"
        aria-labelledby="nav-source-list-tab">
        <div class="table-responsive" >
            {% block sources_table %}
            {% endblock %}
            
        </div>
        </div>
    </div>
</div>
    </div>
  </div>
</div>

<script>
        
        // 获取表单元素和 submit 按钮元素
    var myForm = document.getElementById("src_search_form");
    var submitBtn = myForm.querySelector('[type="submit"]');

    // 重写表单 submit 事件
    myForm.addEventListener("submit", function (event) {
        $("#spinner-div").show();
        event.preventDefault(); // 阻止表单默认提交行为
        // 在这里编写表单提交前需要执行的代码

        // 利用 AJAX 技术发送表单数据
        $.ajax({
            url:"{{url_for('.vhf_source_candidate_list_api')}}",
            data: { 
                'start_datetime':myForm.start_datetime.value,
                'end_datetime':myForm.end_datetime.value
            },
            "success": renderTable
        });

        return false; // 防止表单再次提交
    });

    // 监听 submit 按钮点击事件，间接触发表单提交
    
    // 渲染表格
    function renderTable(data) {
        var table = new Tabulator("#vhf_table", {
            data: data,
            selectable: 1,
            columns: [
               // { title: "ID", field: "id" },
               // { title: "Detection ID", field: "detection_id" },
               // { title: "Source ID", field: "src_id" },
               { title: "Name", field: "name", formatter: "link",formatterParams:{url:(item)=>{return item.getData()['src_detail']},target:"_blank"}},
               { title: "S_Time", field: "obs_start" },
               { title: "T_Time", field: "trigtime" },

                { title: "RA", field: "ra" ,sorter:"number", formatter: "money", formatterParams: { symbol: "", precision: 3 }}, 
                { title: "DEC", field: "dec" ,sorter:"number", formatter: "money", formatterParams: { symbol: "", precision: 3 }},
                { title: "Position Error", field: "pos_err" ,sorter:"number", formatter: "money", formatterParams: { symbol: "", precision: 3 }},
                {
                    title: "Type", 
                    field: "type", 
                    sorter:"string", 
                    editor:"list",
                    editorParams:{
                        values:type_values, clearable:true
                    }, 
                    headerFilter:true, 
                    headerFilterParams:{
                        values:type_values, 
                        clearable:true
                    }
                },
                {title: "Classification", field: "classification", sorter:"string", headerFilter: "input",editor:"input"},
                {title: "Common Name", field: "simbad_name", sorter:"string", headerFilter: "input",editor:"input"},
                {title: "Comments", field: "comments", sorter:"string", headerFilter: "input",editor:"textarea",formatter:"textarea"},
                {title: "Ref Flux", field: "known_flux", sorter:"number", headerFilter: "number",editor:"number"},
                { title: "X", field: "x" ,sorter:"number"},
                { title: "Y", field: "y" ,sorter:"number"},
                { title: "Variance", field: "var" ,sorter:"number"},
                { title: "Net Rate", field: "net_rate" ,sorter:"number"},
                { title: "HR", field: "hr" ,sorter:"number"},
                { title: "Significance", field: "src_significance",sorter:"number" }
            ]
        });

        table.on("cellEdited", function(cell){
            data = cell.getData()
            src_id = data.id
            src_type = data['type']
            simbad_name =  data['simbad_name']
            classification = data['classification']
            comments = data['comments']
            ref_flux = data['known_flux']
            instrument = data['instrument']? data['instrument']:'sy01'
            console.log(src_id)
            if ((src_type=="known_source" || src_type=="burst") && !simbad_name){
                return
            }
            $.ajax({
                url:'{{url_for(".ta_update")}}',
                type:"POST",
                data:{
                    src_id,
                    "type": src_type,
                    classification,
                    simbad_name,
                    comments,
                    ref_flux,
                    instrument
                },
                success:function(result){
                    
                },
                error: function(xhr,status,error){
                    
                }
            })
    });

    table.on("rowSelected", function(row) {
            showRecords(row.getData().records);
    });
    $("#spinner-div").hide(); //Request is complete so hide spinner   
}

    function reportOnline()
    {
        
        $.post('{{url_for('.ta_enter')}}',data={"channel":"vhf"})
        setTimeout("reportOnline()", 1000*10) // 10s报告一次在线
    }
    reportOnline()
    

    

</script>
{% endblock %}