<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <strong style="font-size:16px;">Proposal Title:</strong>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            One of three columns
        </div>
        <div class="col-md-4">
            One of three columns
        </div>
        <div class="col-md-4">
            One of three columns
        </div>
    </div>
</div>

</body>
</html>