{% extends 'app/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/form.html' import render_form_row %}
{% block title %}{{_('Proposal Submit')}}{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(document).ready(function(){

$('.submit_button').on("click",function(){
   var proposal_id =  $(this).attr("proposal_id");
   $('#confirm').attr("proposal_id",proposal_id);
   $("#submit-proposal").modal('show');
});


$('#confirm').on("click",function(){
 var proposal_id =  $(this).attr("proposal_id");
      $.ajax({
               type: 'GET',
               url:"{{ url_for('proposal_submit.user_proposal_submit_confirm') }}",
               dataType: "json",
               data: {'proposal_id':proposal_id},
               success:function(res){
                   if(res.content_status == 'not_ok')
                   {
                     alert("Failed to submit. Please fill in proposal overview.");
                   }
                   if(res.science_case_upload_status == 'not_ok')
                   {
                     alert("Failed to submit. Please upload your science justification.");
                   }
                    if(res.source_list == 'not_ok')
                   {
                     alert("Failed to submit. Please upload your source list.");
                   }
                   if(res.success == 'ok')
                   {
                     window.location.reload();
                     alert("Submit successfully.");
                   }
                   if(res.success == 'not_ok')
                   {
                     window.location.reload();
                   }

               },
                error:function(){
               }
      });
});


});

</script>

{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}

<br>
<div class="ep_index_title" style="margin: 20px; "> 
  {% if proposal.get_proposal_status() == 'Draft' %}
  Draft {{proposal.get_proposal_type1()}} Proposal
  {% else %}
  Proposal NO: {{proposal.proposal_number}}
  {% endif %}
  {% if not proposal.is_too_proposal() and proposal.get_proposal_status() == 'Draft' %}
  <span id="counterDownContainer">
  <!-- Deadline in:  <b id="counterDown"></b> -->
</span>
{% endif %}
<a style="float:right;text-decoration: underline;font-size: large;" href="{{ url_for('proposal_submit.download_file',path='proposal_template',filename='Proposal_system_guidance_v1.6.pdf') }}">Proposal System Guidance</a>
</div>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-md-8 " align="right">
            <a href="{{ url_for('proposal_submit.user_proposal_list') }}" role="button" class="btn btn-md ep-normalButton align-self-end">Proposal List</a>
            <button type="button" class="btn btn-md ep-dangerButton active align-self-end"><strong><a style="color:#CC9999;">Status:</a> </strong>&nbsp;{{proposal.get_proposal_status()}}</button>
            <a role="button" class="btn btn-md  ep-optimisticButton align-self-end" href="{{ url_for('proposal_submit.detail',proposal_id=proposal.id) }}" target="_blank">View Proposal</a>
            {% if proposal.get_proposal_status() == 'Draft' %}
            <a role="button" class="btn btn-md  ep-normalButton submit_button" proposal_id="{{proposal_id}}">Submit Proposal</a>
            {% else %}
            <a role="button" class="btn btn-md  ep-normalButton align-self-end">Proposal Submitted</a>
            {% endif %}
        </div>
    </div>
</div>
<br>

<ul class="nav nav-tabs ep-sourcelist-nav">
    <li class="nav nav-tabs">
      {% if proposal.is_too_proposal() %}
        <a class="nav-link" href="{{ url_for('proposal_submit.ep_too_proposal_submit',proposal_id=proposal_id,card='overview') }}">Proposal Overview</a>
      {% else %}
      <a class="nav-link" href="{{ url_for('proposal_submit.user_proposal_submit',proposal_id=proposal_id,card='overview') }}">Proposal Overview</a>
      {% endif %}
    </li>
    <li class="nav nav-tabs">
        <a class="nav-link active" href="{{ url_for('proposal_submit.user_proposal_submit',proposal_id=proposal_id,card='sources')}}">Observation List</a>
    </li>
    <li class="nav nav-tabs">
        <a class="nav-link " href="{{ url_for('proposal_submit.user_proposal_submit',proposal_id=proposal_id,card='investigators') }}">Investigators</a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="{{ url_for('proposal_submit.user_proposal_submit',proposal_id=proposal_id,card='experts')}}">Non-preferred Reviewers</a>-->
<!--    </li>-->
    {% if proposal.scientific_review_finished and proposal.submit_status %}
    <li class="nav nav-tabs">
        <a class="nav-link" href="{{ url_for('proposal_submit.user_proposal_submit',proposal_id=proposal_id,card='review')}}">Peer Review</a>
    </li>
    {% endif %}
</ul>

<div class="card ep-proposalForm" style="background-color: #eee; margin: 0px 25px 20px 25px; padding-top: 10px; border-radius: 0px; border:0px;">
    <div class="container-fluid" style="padding:20px 10px 30px 10px; line-height: 30px;">

{% if proposal.obs_type=='TileObs' %}
        
       
          <div class="row">
            <div class="col-md-2">
                <a type="button" class="btn btn-md ep_openBtn" style="margin-left:20px" href="{{ url_for('proposal_submit.user_edit_target',proposal_id=proposal_id,source_id=-1,obs_type=proposal.obs_type)}}">Add Observation</a>
                
            </div>
           
        </div>
 {%elif proposal.obs_type=='MonitoringObs' %}
 
  <div class="row">
    <div class="col-md-2">
        <a type="button" class="btn btn-md ep_openBtn"  style="margin-left:20px" href="{{ url_for('proposal_submit.user_edit_target',proposal_id=proposal_id,source_id=-1,obs_type=proposal.obs_type)}}">Add Observation</a>
      
    </div>
   
</div>
 {%elif proposal.obs_type=='SingleObs'%}

  <div class="row">
    <div class="col-md-2">
        <a type="button" class="btn btn-md ep_openBtn"  style="margin-left:20px" href="{{ url_for('proposal_submit.user_edit_target',proposal_id=proposal_id,source_id=-1,obs_type=proposal.obs_type)}}">Add Observation</a>
    
    </div>
 
</div>
 {%else%}

<p><strong>Please save the proposal overview first.</strong></p>
 {%endif%}

 {#<span>Total Requested Time: {{proposal.total_time_request}} seconds </span>#}
    <div class="card w-100" style="margin-top: 20px">
  
        <div class="card-header bg-light ep-cardheader">
          <div class="card-header-title">Observation List <span id="items"></span>
            <div style="float:right">
              <!-- 保存源顺序的表单-->
              
              <button class="btn ep_openBtn btn-sm" id="submit_new_order_btn" disabled>Save Source Order</button>
              <button class="btn ep_openBtn btn-sm" id="download_list"  >Export CSV</button>
            </div>
          </div>
        </div>
        <div class="card-body">
        <div id="target_list_tab" style="z-index: 50; width: 100%"></div>
      </div>
    </div>
    </div>
    </div>
<script type="text/javascript">
    var target_list_tab;
    var that = this;
    function digit3(num) {
      return Number.parseFloat(num.toFixed(3));
    }
    function digit0(num) {
      return Math.floor(num);
    }
    //jQuery document ready function
    $(document).ready(function(){
        var table = new Tabulator("#target_list_tab", {
            data: {{proposal_sources|safe}},
            // data: res,
            selectable: 1,
            dataTree: true,
            height: 500,
            scrollToRowIfVisible: true,
            layout: "fitDataFill",
            movableRows: true, 
            columns: [
            {rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30},
            {
              title: "Priority",
              formatter: "rownum",
              headerSort:false,
              hozAlign: "center",
            },
              { title: "Source Name", field: "source_name", headerSort:false,
              //sorter: "string" 
            },
              { title: "Obs Type", field: "obs_type", 
              //sorter: "string" 
            },
              
              
              {
                title: "RA",
                field: "ra",
                headerSort:false,
                //sorter: "number",
                formatter: function (cell, formatterParams, onRendered) {
                  return digit3(cell.getValue());
                },
              },
              {
                title: "Dec",
                field: "dec",
                headerSort:false,
                //sorter: "number",
                formatter: function (cell, formatterParams, onRendered) {
                  return digit3(cell.getValue());
                },
              },
              {
                title: "Total Exposure Time (s)",
                field: "total_exposure_time",
                topCalc:"sum",
                headerSort:false,
                //sorter: "number",
                formatter: function (cell, formatterParams, onRendered) {
                  return digit0(cell.getValue());
                },
              },
            
          
              { title: "Task ID", field: "id", sorter: "number",headerSort:false },
              {
                title: "",
                formatter: editIcon,
                width: 50,
                hozAlign: "center",
                tooltip: "Edit",
               

                cellClick: function (e, cell) {
                  editSource(cell.getRow().getData().id);
                },
              },
              {
                title: "",
                formatter: copyIcon,
                width: 50,
                hozAlign: "center",
                tooltip: "Create a new target by copying this one",

                cellClick: function (e, cell) {
                  copySource(cell.getRow().getData().id);
                },
              },
              {
                title: "",
                formatter: deleteIcon,
                width: 50,
                hozAlign: "center",
                tooltip: "Delete the target",
                cellClick: function (e, cell) {
                  deleteSource(cell.getRow().getData().id);
                },
              },
            ],
          });
          table.on("rowMoved", function(row){
              $("#submit_new_order_btn").removeAttr('disabled')
          });
          //提交新的顺序
          $("#submit_new_order_btn").click(()=>{
            reqData = {}
            table.getData().forEach((v,i,a)=>{
              reqData["src"+v.id] = i+1
            })
            $.post("{{url_for('.reIndex',proposal_id=proposal_id)}}",data=reqData,success=()=>{
              window.location.reload();
            })
          })

          function editIcon(cell, formatterParams, onRendered) {
            return "<i class='fa fa-edit'></i>";
          }

          function deleteIcon(cell, formatterParams, onRendered) {
            return "<i class='fa fa-trash'></i>";
          }
          function copyIcon(cell, formatterParams, onRendered) {
            return "<i class='fa fa-copy'></i>";
          }

          function copySource(source_id){
            $.post("{{url_for('.copy_src')}}",data={
              "src_id":source_id
            },success=(data)=>{
              window.location.reload()
            })

          }

          function deleteSource(source_id){
            //弹出提示框询问是否确认删除    
            var r=confirm("Are you sure to delete this target?");
            if (r==false)
            {
              return;
            }
            //在当前窗口打开删除页面

            var baseUrl = "{{ url_for('proposal_submit.user_proposal_delete_source',proposal_id=proposal_id,source_id='ps_id_ph')}}";
            var targetUrl = baseUrl.replace("ps_id_ph", source_id);
            location.href= targetUrl;

          }

          function editSource(source_id){

            var baseUrl = "{{ url_for('proposal_submit.user_edit_target',proposal_id=proposal_id,source_id='ps_id_ph')}}";
            var targetUrl = baseUrl.replace("ps_id_ph", source_id);
            location.href= targetUrl;

          }
          that.target_list_tab = table;

    
    });

    $("#download_list").click(function(){

      var tableData = target_list_tab.getData();

      // 添加行索引列
      // var tableDataWithIndex = tableData.map(function (row, index) {
      //   return { index: index + 1, ...row };
      // });

      var tableDataWithIndex = tableData.map(function (row, index) {
        row.index = index + 1;
        return row;
      });

      // 生成 CSV 数据
      var csvData = "priority,";
      var columnFields = target_list_tab.getColumnDefinitions().map(function (column) {
        return column.field;
      });

      // 过滤 undefined 字段
      columnFields = columnFields.filter(function (field) {
        return field !== undefined;
      });

      csvData += columnFields.join(",") + "\n";

      tableDataWithIndex.forEach(function (row) {
        var rowData = columnFields.map(function (field) {
          return row[field];
        });
        csvData += row.index + "," + rowData.join(",") + "\n";
      });

      // 创建 Blob 对象
      var blob = new Blob([csvData], { type: "text/csv;charset=utf-8;" });

      // 创建下载链接
      var link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = "table_data.csv";

      // 点击下载链接并移除
      link.click();
      URL.revokeObjectURL(link.href);

      // 导出为 CSV 文件
      // target_list_tab.download("csv", "observation_list1.csv", {
      //   data: tableDataWithIndex,
      // });
      // target_list_tab.download("csv", "observation_list.csv", {delimiter:","}); 
 });
</script>

    
    </div>
    <br>
    <br>
    <br>
</div>



<!-- CONFIRM to submit -->
<div class="modal fade bd-example-modal-lg" id="submit-proposal" tabindex="-1" role="dialog" aria-labelledby="pro" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="pro">Confirm to submit this proposal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="form-row">
                      <strong>I have finished my proposal, and confirm to submit it.</strong>
                      <br>
                      <i style="color:red">(After submission, you can not modify your proposal again.)</i>
                  </div>
                  <br>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-warning" data-dismiss="modal" id="confirm">Confirm</button>
          </div>
      </div>
  </div>
</div>



{% endif %}

<script>
  {% include "app/proposal_submit/components/countdown.js" %}
</script>
{% endblock %}

