{% extends 'app/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{{_('Password Reset')}}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{_('Password Reset')}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-body">
                   {# {{ render_form(form, form_type='horizontal') }}#}
                   <iframe src="/user/ext-ch-passwd" style="width:100%;height:800px;border:0"> </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='tn/style.css') }}?1">
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script>
// $(function(){
//     check_elem_on('blur', 'email', check_email_valid, 'email');
//     check_pass_level('password');
//     check_elem_on('blur', 'password2', check_passwords, ['password','password2']);
    
//     html="<img id=\"verifycode\" onclick=\"this.src='{{url_for('user.verify_code')}}?'+new Date().time\" src=\"{{url_for('user.verify_code')}}\" />"
//         $('#verify_code').after(html);
// });
</script>

{% endblock %}