{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}
{% extends 'app/base.html' %}



{% block content %}
<div class="container-fluid" style=" padding:0px; background-color:transparent;">        
   <nav aria-label="breadcrumb" style="margin-bottom: 15px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li><li class="breadcrumb-item"><a href="{{ url_for('cms.view_article',id=107)}}">Science Team</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{category}} Members</li>
    </ol>
</nav>

    
    <div class="card w-100">
        <div class="card-header bg-light ep-cardheader">
        {% if index =='all' %}
          <div class="card-header-title">All {{category}} Members</div>
           {% else%}
           <div class="card-header-title">{{category}} {{index}} Members</div>
           {% endif%}
        </div>
        <div class="card-body ep_datasearch_card">
       <table align="center" style="border-collapse:collapse;width:960px;" width="950">
	<colgroup>
		<col style="width:150pt" width="200">
		<col style="width:293pt" width="391">
		<col style="width:199pt" width="265">
	</colgroup>
	<tbody>
		<tr>
			<td class="xl67" style="border-bottom:none; height:32px; width:200px; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-weight:700"><span style="font-family:Verdana"><span style="color:black"><span style="font-style:normal"><span style="text-decoration:none">Name</span></span></span></span></span></span></td>
			<td class="xl67" style="border-bottom:none; width:391px; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-weight:700"><span style="font-family:Verdana"><span style="color:black"><span style="font-style:normal"><span style="text-decoration:none">Affiliation</span></span></span></span></span></span></td>
			<td class="xl67" style="border-bottom:none; width:265px; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-weight:700"><span style="font-family:Verdana"><span style="color:black"><span style="font-style:normal"><span style="text-decoration:none">Email</span></span></span></span></span></span></td>
            <td class="xl67" style="border-bottom:none; width:50px; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-weight:700"><span style="font-family:Verdana"><span style="color:black"><span style="font-style:normal"><span style="text-decoration:none">STP</span></span></span></span></span></span></td>
		</tr>
        {% for member in stplist%}
		<tr>
			<td class="xl68" style="border-bottom:none; height:32px; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-family:Verdana"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">
				{%if category == 'STP'%}
				<a href="{{url_for('user.stp_member',id=member.id)}}">{{member.name}}</a>
				{%if member.stp_role%}
				{%set role_info = member.stp_role.split('-')%}
					{% if index =='all' %}
						(STP{{role_info[0]}} {{role_info[1]}})
					{% else%}
						{% if index ==role_info[0] %}
						({{role_info[1]}})
						{% endif %}
					{% endif %}
				{%endif%}
				{%elif category == 'Associate STP'%}
				<a href="{{url_for('user.asso_stp_member',id=member.id)}}">{{member.name}}</a>
				{%else%}
				{{member.name}}
				{%endif%}

			</span></span></span></span></span></span></td>
			<td class="xl68" style="border-bottom:none; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-family:Verdana"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">{{member.affiliation}}</span></span></span></span></span></span></td>
			<td class="xl68" style="border-bottom:none; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-family:Verdana"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none"><a href="mailto:{{member.email}}">{{member.email}}</a></span></span></span></span></span></span></td>
            <td class="xl68" style="border-bottom:none; text-align:left; padding-top:1px; padding-right:1px; padding-left:1px; vertical-align:middle; white-space:nowrap; border-top:none; border-right:none; border-left:none"><span style="font-size:14px;"><span style="font-family:Verdana"><span style="color:black"><span style="font-weight:400"><span style="font-style:normal"><span style="text-decoration:none">{{member.stp}}</span></span></span></span></span></span></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
        </div>
    </div>
</div>

<style>
    /*Members Page*/
.memberName{
	padding: 0px 10px;
	border-radius: 5px;
	background-color: #eee;
	display: inline-block;
	margin: 5px 7px;
}
.memberCard {
	width: 1280px;
	margin: 10px auto;
	border-radius: 15px;
	padding: 10px 0px;
}
.memberCardText {
	width: 1280px;
	margin: 10px auto;
	font-size: 16px;
	line-height: 30px;
}
.memberBacktoTop {
	font-size: 16px;
	font-weight: bold;	
	margin-right: 20px;
	position: fixed;
	bottom: 180px;
	right: 200px;
}
.memberBacktoTop a {
	color: #000;
}
.member-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 1rem;
}
.member-card {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	overflow: hidden;
	/* è®¾ç½®æœ€å°é«˜åº¦ä¸ºå†…å®¹é«˜åº¦ */
	min-height: min-content;
}
.member-photo {
	height: 200px;
	overflow: hidden;
}
.member-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.member-info {
	padding: 1rem;
}
.member-info h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
.member-info p {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}
.historyMember {
	font-weight: bolder;
	float: right;
	display: block;
	line-height: 30px;
	margin-bottom: 10px;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 14px;
}
.historyMember:hover {
	font-weight: bolder;
	color: #eee;
	background-color: #777;
}
    </style>
{% endblock %}

