{% extends 'app/user/settings/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{{_('Change Scientific Categories')}}{% endblock %}

{% block setting_content %}
    <div class="card w-100 bg-light">
        <h3 class="card-header">{{_('Change Scientific Categories')}}</h3>
        <div class="card-body">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-multiselect.min.css') }}?1">
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-multiselect.min.js') }}"></script>
<script>
    $(function(){
        var multi_select_config={
            includeSelectAllOption: true,
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            numberDisplayed: 20
        };
        $('#scientific_categories').multiselect(multi_select_config);
    });
</script>
{% endblock scripts %}