{% extends 'app/simulator/base.html' %} {% block bread %} {% from
'bootstrap/nav.html' import render_breadcrumb_item %}
<nav aria-label="breadcrumb" style="margin-bottom: 10px">
  <ol class="breadcrumb">
    {{ render_breadcrumb_item('main.index', _('Home')) }} {{
    render_breadcrumb_item('simulator.index', _('Simulator')) }}
  </ol>
</nav>
{% endblock %} {% block simu_content %}
<a href="{{ url_for('simulator.simulate_tasks')}}">
  <div class="btn ep-manage-btn" style="float: right">
    My Simulation Tasks List
  </div>
</a>

<ul class="nav nav-tabs" id="simu_type" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="single_obs_tab"
      data-toggle="tab"
      href="#single_obs"
      role="tab"
      aria-controls="single_obs"
      aria-selected="true"
      >WXT Single observation</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="monitor_tab"
      data-toggle="tab"
      href="#monitor"
      role="tab"
      aria-controls="monitor"
      aria-selected="false"
      >WXT Long Time Monitor</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
    2 class="nav-link"
      id="fxt_single_obs_tab"
      data-toggle="tab"
      href="#fxt_single_obs"
      role="tab"
      aria-controls="fxt_single_obs"
      aria-selected="false"
      >FXT Single Observation</a
    >
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="single_obs"
    role="tabpanel"
    aria-labelledby="single_obs_tab"
  >
    {% from 'input.html' import ValueInputerUP, ValueInputer, TextInputer %}
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('simulator.simulate')}}"
      style="clear: both; padding-top: 20px"
      class="ep-simulator-form"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="card">
        <div class="card-header">Input Basic Info</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              {{
              ValueInputerUP('ra','degree',0,label_class="ep_objsearch_label",hint="RA(J2000)",tooltip="The
              right ascension of the simulated source in equinox J2000, ranges
              from 0 to 360 deg. Different coordinates will lead to different
              X-ray diffuse background in the field of view. If the source
              coordinates are unknown and a normal sky background is preferred,
              the default value of 0 deg can be used.")}}
            </div>
            <div class="col-md-4">
              {{
              ValueInputerUP('dec','degree',0,label_class="ep_objsearch_label",hint="DEC(J2000)",tooltip="The
              declination of the simulated source in equinox J2000, ranges from
              -90 to 90 deg. Different coordinates will lead to different X-ray
              diffuse background in the field of view. If the source coordinates
              are unknown and a normal sky background is preferred, the default
              value of 0 deg can be used.")}}
            </div>
            <div class="col-md-4">
              {{
              ValueInputerUP('exposure','s',1200,label_class="ep_objsearch_label",tooltip="Exposure
              time for the simulated observation.")}}
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Input Source Flux</div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-md-4 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('flux','erg/s/cm²',1e-10,label_class="ep_objsearch_label",
              tooltip="The flux of the simulated source in the user specified
              energy range. If a user-defined spectral model is uploaded, this
              input value will be ignored, and the flux will be calculated
              directly from the uploaded spectral model.")}}
            </div>
            <div
              class="col-md-4 mr-0 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('emin','keV',0.5,label_class="ep_objsearch_label",hint="Energy
              Range Low",tooltip="The low limit of energy range which contains
              the input flux.")}}
            </div>
            <div
              class="col-md-4 ml-0 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('emax','keV',4,label_class="ep_objsearch_label",hint="Energy
              Range High",tooltip="The high limit of energy range which contains
              the input flux.")}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              {{
              ValueInputerUP('nh','cm⁻²',3e20,label_class="ep_objsearch_label",tooltip="The
              X-ray absorption column density for the simulated source.")}}
              <script>
                //这里特殊格式nH用Js处理下。
                $('label[for="nh"]>span.label-title').text("nH");
              </script>
            </div>

            <div
              class="spec-inputer col-md-3 spec-inputer-powerlaw spec-inputer-blackbody"
              style="padding-top: 32px"
            >
              <div
                class="ep_objsearch_label form-group ep-checkbox-line"
                style="padding: 2px 10px"
              >
                <label
                  for="absp"
                  data-toggle="tooltip"
                  title="If this is chosen, the input flux will be taken as the absorbed flux, otherwise the flux will be taken as the unabsorbed (intrinsic) flux."
                  >Absorbed</label
                >
                <input type="checkbox" name="absp" value="True" id="absp" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Input Source Spectrum</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label
                  for="spec_model"
                  class="ep_objsearch_label"
                  data-toggle="tooltip"
                  title="The input spectral model for the simulated source. An arbitrary user-defined model can be uploaded by choosing the “File” option, in which case a textfile which contains two columns should be uploaded. The first column should be the “photon energy” in units of keV. The second column should be the “photon flux” in units of counts s-1 cm-2 keV-1."
                >
                  Spectral Model <span class="fa fa-question-circle"></span>:
                </label>
                <div class="input-group mb-3">
                  <select class="form-control" name="spec_model">
                    <option value="powerlaw">Power Law</option>
                    <option value="blackbody">Black Body</option>
                    <option value="file">File</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="spec-inputer spec-inputer-powerlaw col-md-4">
              {{
              ValueInputerUP('index',"",2,label_class="ep_objsearch_label",hint="Photon
              Index", tooltip="If the Power Law model is selected then value is
              the photon index, i.e [E^-(index)]")}}
            </div>
            <div class="spec-inputer spec-inputer-blackbody col-md-4">
              {{
              ValueInputerUP('temp','eV',100,label_class="ep_objsearch_label",hint="Temperature(kT)",
              tooltip="The temperature of the input blackbody model.")}}
            </div>

            <div
              class="spec-inputer spec-inputer-file col-md-4"
              style="margin-top: 32px"
            >
              <label for="spec_file" class="btn ep-manage-btn"
                >Select Spectrum File</label
              >
              <input type="file" hidden name="spec_file" id="spec_file" />
              <a
                target
                _blank
                href="{{ url_for('static',filename='resources/specdemo.txt')}}"
                >Example</a
              >
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="card">
        <div class="card-header">Input Light Curve</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" style="margin-top: 15px">
              <div
                class="form-group ep-checkbox-line"
                style="padding: 2px 20px"
              >
                <label
                  for="lc"
                  data-toggle="tooltip"
                  title="If this is chosen, the simulator will produce simulated source light curves based on the uploaded source variability file, otherwise a constant source is assumed. The upload textfile should contain two columns. The first column is “Time” in units of second, and should start from 0. The second column is “flux” in arbitrary units. Note that the mean flux will be taken separately from the input “Flux” value or the user specified spectral model."
                >
                  Input light curve<span class="fa fa-question-circle"></span>:
                </label>
                <input type="checkbox" name="lc" value="True" id="lc" />
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <div
                class="lc-file-inputer ep-checkbox-line"
                style="padding: 2px 20px"
              >
                <label for="lc_file" class="btn btn-secondary"
                  >Select Light Curve File</label
                >
                <input type="file" id="lc_file" hidden name="lc_file" />
                <a
                  target
                  _blank
                  href="{{ url_for('static',filename='resources/lcdemo.txt')}}"
                  >Example</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center; margin-top: 20px">
        <input
          type="submit"
          class="btn ep_openBtn"
          value="simulate"
          style="width: 130px; height: 38px"
        />
      </div>
    </form>
  </div>
  <div
    class="tab-pane fade"
    id="monitor"
    role="tabpanel"
    aria-labelledby="monitor_tab"
  >
    {% from 'input.html' import ValueInputerUP, ValueInputer, TextInputer %}
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('simulator.simulate')}}"
      style="clear: both; padding-top: 20px"
      class="ep-simulator-form"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="card">
        <div class="card-header">Input Basic Info</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              {{
              ValueInputerUP('ra','degree',0,label_class="ep_objsearch_label",hint="RA(J2000)",tooltip="The
              right ascension of the simulated source in equinox J2000, ranges
              from 0 to 360 deg. Different coordinates will lead to different
              X-ray diffuse background in the field of view. If the source
              coordinates are unknown and a normal sky background is preferred,
              the default value of 0 deg can be used.")}}
            </div>
            <div class="col-md-4">
              {{
              ValueInputerUP('dec','degree',0,label_class="ep_objsearch_label",hint="DEC(J2000)",tooltip="The
              declination of the simulated source in equinox J2000, ranges from
              -90 to 90 deg. Different coordinates will lead to different X-ray
              diffuse background in the field of view. If the source coordinates
              are unknown and a normal sky background is preferred, the default
              value of 0 deg can be used.")}}
            </div>
            <div class="col-md-4">
              {{ ValueInputerUP('Observation
              Number','',10,label_class="ep_objsearch_label",tooltip="Observation
              Number.")}}
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Input Source Info</div>
        <div class="card-body">
          <div class="row">
            {#
            <div
              class="col-md-4 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('flux','erg/s/cm²',1e-10,label_class="ep_objsearch_label",
              tooltip="The flux of the simulated source in the user specified
              energy range. If a user-defined spectral model is uploaded, this
              input value will be ignored, and the flux will be calculated
              directly from the uploaded spectral model.")}}
            </div>
            #}
            <div
              class="col-md-4 mr-0 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('emin','keV',0.5,label_class="ep_objsearch_label",hint="Energy
              Range Low",tooltip="The low limit of energy range which contains
              the input flux.")}}
            </div>
            <div
              class="col-md-4 ml-0 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('emax','keV',4,label_class="ep_objsearch_label",hint="Energy
              Range High",tooltip="The high limit of energy range which contains
              the input flux.")}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              {{
              ValueInputerUP('nh','cm⁻²',3e20,label_class="ep_objsearch_label",tooltip="The
              X-ray absorption column density for the simulated source.")}}
              <script>
                //这里特殊格式nH用Js处理下。
                $('label[for="nh"]>span.label-title').text("nH");
              </script>
            </div>

            <div
              class="spec-inputer col-md-3 spec-inputer-powerlaw spec-inputer-blackbody"
              style="padding-top: 32px"
            >
              <div
                class="ep_objsearch_label form-group ep-checkbox-line"
                style="padding: 2px 10px"
              >
                <label
                  for="absp"
                  data-toggle="tooltip"
                  title="If this is chosen, the input flux will be taken as the absorbed flux, otherwise the flux will be taken as the unabsorbed (intrinsic) flux."
                  >Absorbed</label
                >
                <input type="checkbox" name="absp" value="True" id="absp" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Input Source Spectrum</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label
                  for="spec_model"
                  class="ep_objsearch_label"
                  data-toggle="tooltip"
                  title="The input spectral model for the simulated source. An arbitrary user-defined model can be uploaded by choosing the “File” option, in which case a textfile which contains two columns should be uploaded. The first column should be the “photon energy” in units of keV. The second column should be the “photon flux” in units of counts s-1 cm-2 keV-1."
                >
                  Spectral Model <span class="fa fa-question-circle"></span>:
                </label>
                <div class="input-group mb-3">
                  <select class="form-control" name="spec_model">
                    <option value="powerlaw">Power Law</option>
                    <option value="blackbody">Black Body</option>
                    <option value="file">File</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="spec-inputer spec-inputer-powerlaw col-md-4">
              {{
              ValueInputerUP('index',"",2,label_class="ep_objsearch_label",hint="Photon
              Index", tooltip="The photon index of the input power law model.
              The value must be larger than 0.")}}
            </div>
            <div class="spec-inputer spec-inputer-blackbody col-md-4">
              {{
              ValueInputerUP('temp','eV',100,label_class="ep_objsearch_label",hint="Temperature(kT)",
              tooltip="The temperature of the input blackbody model.")}}
            </div>

            <div
              class="spec-inputer spec-inputer-file col-md-4"
              style="margin-top: 32px"
            >
              <label for="spec_file" class="btn ep-manage-btn"
                >Select Spectrum File</label
              >
              <input type="file" hidden name="spec_file" id="spec_file" />
              <a
                target
                _blank
                href="{{ url_for('static',filename='resources/specdemo.txt')}}"
                >Example</a
              >
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="card">
        <div class="card-header">Input Light Curve</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" style="margin-top: 15px">
              <div
                class="form-group ep-checkbox-line"
                style="padding: 2px 20px"
              >
                <label
                  for="lc"
                  data-toggle="tooltip"
                  title="If this is chosen, the simulator will produce simulated source light curves based on the uploaded source variability file, otherwise a constant source is assumed. The upload textfile should contain two columns. The first column is “Time” in units of second, and should start from 0. The second column is “flux” in arbitrary units. Note that the mean flux will be taken separately from the input “Flux” value or the user specified spectral model."
                >
                  Input light curve<span class="fa fa-question-circle"></span>:
                </label>
                <input type="checkbox" name="lc" value="True" id="lc" />
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <div
                class="lc-file-inputer ep-checkbox-line"
                style="padding: 2px 20px"
              >
                <label for="lc_file" class="btn btn-secondary"
                  >Select Light Curve File</label
                >
                <input type="file" id="lc_file" hidden name="lc_file" />
                <a
                  target
                  _blank
                  href="{{ url_for('static',filename='resources/lcdemo.txt')}}"
                  >Example</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center; margin-top: 20px">
        <input
          type="submit"
          class="btn ep_openBtn"
          value="simulate"
          style="width: 130px; height: 38px"
        />
      </div>
    </form>
  </div>
  <div
    class="tab-pane fade"
    id="fxt_single_obs"
    role="tabpanel"
    aria-labelledby="fxt_single_obs_tab"
  >
    {% from 'input.html' import ValueInputerUP, ValueInputer, TextInputer %}
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('simulator.simulate')}}"
      style="clear: both; padding-top: 20px"
      class="ep-simulator-form"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="card">
        <div class="card-header">Input Basic Info</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              {{
              ValueInputerUP('exposure','s',1200,label_class="ep_objsearch_label",tooltip="Exposure
              time for the simulated observation.")}}
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Input Source Flux</div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-md-4 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('flux','erg/s/cm²',1e-13,label_class="ep_objsearch_label",
              tooltip="The flux of the simulated source in the user specified
              energy range. If a user-defined spectral model is uploaded, this
              input value will be ignored, and the flux will be calculated
              directly from the uploaded spectral model.")}}
            </div>
            <div
              class="col-md-4 mr-0 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('emin','keV',0.5,label_class="ep_objsearch_label",hint="Energy
              Range Low",tooltip="The low limit of energy range which contains
              the input flux.")}}
            </div>
            <div
              class="col-md-4 ml-0 spec-inputer spec-inputer-powerlaw spec-inputer-blackbody"
            >
              {{
              ValueInputerUP('emax','keV',10,label_class="ep_objsearch_label",hint="Energy
              Range High",tooltip="The high limit of energy range which contains
              the input flux.")}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              {{
              ValueInputerUP('nh','1e+22cm⁻²',1,label_class="ep_objsearch_label",tooltip="The
              X-ray absorption column density for the simulated source.")}}
              <script>
                //这里特殊格式nH用Js处理下。
                $('label[for="nh"]>span.label-title').text("nH");
              </script>
            </div>

            <div
              class="spec-inputer col-md-3 spec-inputer-powerlaw spec-inputer-blackbody"
              style="padding-top: 32px"
            >
              <div
                class="ep_objsearch_label form-group ep-checkbox-line"
                style="padding: 2px 10px"
              >
                <label
                  for="absp"
                  data-toggle="tooltip"
                  title="If this is chosen, the input flux will be taken as the absorbed flux, otherwise the flux will be taken as the unabsorbed (intrinsic) flux."
                  >Absorbed</label
                >
                <input
                  type="checkbox"
                  name="absp"
                  value="True"
                  id="absp"
                  checked
                  disabled
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-header">Input Source Spectrum</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label
                  for="spec_model"
                  class="ep_objsearch_label"
                  data-toggle="tooltip"
                  title="The input spectral model for the simulated source. An arbitrary user-defined model can be uploaded by choosing the “File” option, in which case a textfile which contains two columns should be uploaded. The first column should be the “photon energy” in units of keV. The second column should be the “photon flux” in units of counts s-1 cm-2 keV-1."
                >
                  Spectral Model <span class="fa fa-question-circle"></span>:
                </label>
                <div class="input-group mb-3">
                  <select class="form-control" name="spec_model">
                    <option value="powerlaw">Power Law</option>
                    <option value="blackbody">Black Body</option>
                    <!-- <option value="file">File</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="spec-inputer spec-inputer-powerlaw col-md-4">
              {{
              ValueInputerUP('index',"",2,label_class="ep_objsearch_label",hint="Photon
              Index", tooltip="The photon index of the input power law model.
              The value must be larger than 0.")}}
            </div>
            <div class="spec-inputer spec-inputer-blackbody col-md-4">
              {{
              ValueInputerUP('temp','eV',100,label_class="ep_objsearch_label",hint="Temperature(kT)",
              tooltip="The temperature of the input blackbody model.")}}
            </div>

            <div
              class="spec-inputer spec-inputer-file col-md-4"
              style="margin-top: 32px"
            >
              <label for="spec_file" class="btn ep-manage-btn"
                >Select Spectrum File</label
              >
              <input type="file" hidden name="spec_file" id="spec_file" />
              <a
                target
                _blank
                href="{{ url_for('static',filename='resources/specdemo.txt')}}"
                >Example</a
              >
            </div>
          </div>
        </div>
      </div>

      <br />
      {#
      <div class="card">
        <div class="card-header">Input Light Curve</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" style="margin-top: 15px">
              <div
                class="form-group ep-checkbox-line"
                style="padding: 2px 20px"
              >
                <label
                  for="lc"
                  data-toggle="tooltip"
                  title="If this is chosen, the simulator will produce simulated source light curves based on the uploaded source variability file, otherwise a constant source is assumed. The upload textfile should contain two columns. The first column is “Time” in units of second, and should start from 0. The second column is “flux” in arbitrary units. Note that the mean flux will be taken separately from the input “Flux” value or the user specified spectral model."
                >
                  Input light curve<span class="fa fa-question-circle"></span>:
                </label>
                <input type="checkbox" name="lc" value="True" id="lc" />
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 15px">
              <div
                class="lc-file-inputer ep-checkbox-line"
                style="padding: 2px 20px"
              >
                <label for="lc_file" class="btn btn-secondary"
                  >Select Light Curve File</label
                >
                <input type="file" id="lc_file" hidden name="lc_file" />
                <a
                  target
                  _blank
                  href="{{ url_for('static',filename='resources/lcdemo.txt')}}"
                  >Example</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      #}
      <div style="text-align: center; margin-top: 20px">
        <input
          type="submit"
          class="btn ep_openBtn"
          value="simulate"
          style="width: 130px; height: 38px"
        />
      </div>
    </form>
  </div>
</div>

<script>
  // 两个Change函数，第一个添加回调，第二个调用（页面初始化把其他选项隐藏）
  $("select[name='spec_model']")
    .change(function () {
      var selected = $(this).val();
      $(".spec-inputer").hide();
      $(`.spec-inputer-${selected}`).show();
    })
    .change();
  $("input[name='lc']")
    .change(function () {
      if (this.checked) {
        $(".lc-file-inputer").show();
      } else {
        $(".lc-file-inputer").hide();
      }
    })
    .change();

  //选择文件后更新Button内容
  $("input[type='file']").change(function (event) {
    let filename = event.currentTarget.files[0].name;
    $(this)
      .siblings("label")
      .text(() => {
        return filename;
      });
  });

  // 初始化tooltip
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<style>
  .fa-question-circle {
    cursor: pointer;
  }
</style>
{% endblock %}
