{% extends 'app/survey_base.html' %} {% block title %}EP Science Team Application{% endblock %} {% block content %}

<div class="container-fluid" style="margin: 0px; padding: 0px">
  <div class="card w-100" style="border: 0px">
    <div class="card-body ep-newsView">
      <div id="article_body" style="margin: 0px 20px; background-color: #fff; padding: 20px">
        <h3 class="ep_article_title">Call for EP Transient Advocates</h3>

        <div class="articleContent">Your application has been submitted successfully, thanks!</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
