{% extends 'app/survey_base.html' %}

{% block title %}EP Science Team Survey{% endblock %}

{% block content %}

<div class="container-fluid" style="margin: 0px; padding: 0px;">

    <div class="card w-100" style="border: 0px;">
        <div class="card-body ep-newsView">

            <div id='article_body' style="margin: 0px 20px; background-color:#fff; padding:20px;">
                <h3 class="ep_article_title">EP科学团队中方成员申请意向征集</h3>

                <div class="articleContent">
                    调查提交成功，感谢您的支持！
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}