{% extends 'app/base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{_('System Public Comments')}}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='tn/style.css') }}?1">
{% endblock styles %}

{% block content %}

<div class="container-fluid main-mmdcs-container">
  <div class="row">
    <div class="col-md-12 mmdcs-user-title">{{_('System Public Comments')}}</div>
      <div class="col-md-12 col-lg-10 col-xl-10">
          <div class="card dashboard-card">
              <div class="card-header mmdcs-message-header">
		      <img class="card-message-from-img" src={{url_for("static",filename="/images/dashboard/otherUserImg.png")}} alt="...">{{_('Write Comment')}}
                  <a href="{{ url_for('comment.mycomment', filter='all') }}">{{_('My Comments')}}</a>
                  {% if current_user.can('COMMENT_RESPONSE') or current_user.can('COMMENT_ADMIN') %}
                  <a href="{{ url_for('comment.comments', filter='all') }}">{{_('Comments Management')}}</a>
                  {% endif %}
              </div>
              <div class="card-body">
                  <form id="commentForm" action="{{ url_for('.mycomment') }}" method="post" class="form" role="form">{{ form.csrf_token }}
                      <div class="form-group">
                            {{ render_field(form.ref_link)}}
                            {{ form.comment.label}}
                          <textarea class="form-control ckeditor" id="comment" name="comment" required=""></textarea>
                      </div>
                      <div class="form-group">
                          <input id="tncode" name="tncode" required type="hidden" value="">
                          <div class="tncode btn btn-primary mmdcs-login-button"></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>

            {% if comments %}
    <div class="col-md-12 col-lg-10 col-xl-10">
        <div class="card-body">{{ comments.count() }} {{_('Comments')}}</div>
            {% for com in comments %}
      <div class="card dashboard-card">
        <div class="card-header mmdcs-message-header">
            <img class="card-message-from-img" src="/static/images/dashboard/otherUserImg.png" alt="...">{{ com.submitter.name }}
            {% if com.ref_link %}
            {{_('Reference Link')}}:<a href="{{com.ref_link|safe}}">{{com.ref_link|safe}}</a>
            {% endif %}
            <div class="mmdcs-message-time">{{ moment(com.submitted_time,local=True).fromNow(refresh=True) }}</div>
        </div>
        <div class="card-body">
          <p class="card-text mmdcs-message-text"><blockquote>{{ com.comment|safe }}</blockquote></p>
            {% if com.comment_response|length > 0 %}
                    <div class="form-group required">
                        {% if current_user.can('COMMENT_ADMIN') %}
                        <form style="float:right;" class="incline" action="{{url_for('.publish_comment_response', response_id=com.comment_response[-1].id, submitter_id=com.submitter_id, check_status='Approval')}}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="check_status" value="{% if com.comment_response[-1].check_status != 'Approval' %}Approval{%else%}Denial{%endif%}">
                            <input type="submit" onclick="return confirm('Are you sure?');" class="btn btn-secondary btn-sm" value="{% if com.comment_response[-1].check_status != 'Approval' %}{{_('Publish')}}{%else%}{{_('Hide')}}{%endif%}">
                        </form>
                        <form class="form-control" action="{{url_for('.update_comment_response', comment_id=com.id, response_id=com.comment_response[-1].id)}}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <label class="form-control-label" for="content">{{_('Response')}}</label>
                            <textarea class="form-control ckeditor" name="content">{{com.comment_response[-1].response_content}}</textarea>
                            <input type="submit" onclick="return confirm('Are you sure?');" class="btn btn-secondary btn-sm" value="{{_('Update')}}">
                        </form>
                        {% else %}
                            {% if com.comment_response[-1].check_status=='Approval'%}
                            <div class="form-control">{{_('Response:')}}<br/>{{com.comment_response[-1].response_content | safe}}</div>
                            {% endif %}
                        {% endif %}
                    </div>
            {% else %}
                <form class="form-control" action="{{url_for('.add_comment_response', comment_id=com.id)}}" method="post">
                <div class="form-group required">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label class="form-control-label" for="content">{{_('Response')}}</label>
                    <textarea class="form-control ckeditor" name="content"></textarea>
                </div>
                    <input type="submit" onclick="return confirm('Are you sure?');"
                           class="btn btn-secondary btn-sm" value="{{_('Submit')}}">
                </form>
            {% endif %}
        </div>
      </div>
            {% endfor %}
            <div class="card-body">
                    <div class="text-right page-footer">
                        {{ render_pagination(pagination) }}
                    </div>
            </div>
    </div>
            {% else %}
                <div class="tip text-center">
                    <h6>No Comment.</h6>
                </div>
            {% endif %}
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='admin/ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='tn/code_'+get_locale()+'.js') }}?2"></script>
<script>
$TN.onsuccess(function(){
    $("#tncode").val(this._mark_offset);
    $("#commentForm").submit();
});
CKEDITOR.config.language = '{{get_locale()}}'.replace('zh_Hans_CN','zh-cn');
</script>
{% endblock %}
