<dl class="proposal_view row">
    
        <dt class="col-2"> Title: </dt>
        <dd class="col-4"> {{pi['title']}} </dd>
        <dt class="col-2"> Name: </dt>
        <dd class="col-4"> {{pi['first_name']}} {{pi['last_name']}}</dd>
        <dt class="col-2"> Email: </dt>
        <dd class="col-4"> {{pi['email']}}</dd>
        <dt class="col-2"> Phone: </dt>
        <dd class="col-4"> {{pi['phone']}}</dd>
        <dt class="col-2"> Institution: </dt>
        <dd class="col-4"> {{pi['institution']}}</dd>
        <dt class="col-2"> Country: </dt>
        <dd class="col-4"> {{pi['country']}}</dd>
        <dt class="col-2"> User Group: </dt>
        <dd class="col-4"> {{pi['user_group']}}</dd>
</dl>